---
layout: default
title: Impacts des défauts de conformité au RGAA pour les personnes handicapées
menu: rubriques
---

{% comment %} Boucle sur les thématiques du RGAA {% endcomment %}
{% for rgaa_topic in site.data.rgaa_4_1_2_clean.topics %}
  <h2 id="{{ rgaa_topic.name | slugify }}">
    {{ rgaa_topic.num }} - {{ rgaa_topic.name }}
  </h2>

  {% comment %} Filtre des impacts liés à la thématique en cours (fichier /_data/impact_users.json) {% endcomment %}
  {% assign topic_impacts = site.data.impact_users.impacts | where_exp: "item", "item.topics.rgaa contains rgaa_topic.num" %}

  {% comment %} Boucle sur les impacts users filtrés {% endcomment %}
  {% for impact in topic_impacts %}
    {% comment %}
      Impacts potentiellements séparés en plusieurs sous-critères.
      Réunis dans un tableau.
      {% assign impact_criteria = impact.falc | map: "criteria" | map: "rgaa" | compact %}
    {% endcomment %}

    <h3 id="{{ impact.name | slugify}}">
      {% comment %}
        Critère{% if impact_criteria.size > 1 %}s{% endif %}
        {{ impact_criteria | join: ', '}} -
      {% endcomment %}
      {{ impact.name }}
    </h3>

    {% comment %} Boucle sur les critères liés à chaque impact {% endcomment %}
    {% for impact_item in impact.falc %}
      {% comment %} Si plusieurs impacts, on les structure en liste {% endcomment %}
      {% if forloop.length > 1 %}
        {% if forloop.first %}<ul>{% endif %}
        <li>
      {% endif %}

      {% if impact_item.description.size > 0 %}
        {{ impact_item.description | markdownify }}
      {% endif %}

      {% comment %} Critères associés récupérés depuis le JSON du RGAA clean {% endcomment %}
      {% if impact_item.criteria.rgaa.size > 0 %}
        <div class="chapo">
          <p id="criteria-{{forloop.index}}-{{ impact.name | slugify}}">
            {% if impact_item.criteria.rgaa.size > 1 %}
              Critères RGAA associés
            {% else %}
              Critère RGAA associé
            {% endif %}
          </p>
          {% if impact_item.criteria.rgaa.size > 1 %}
            <ul>
              {% for criterion_num in impact_item.criteria.rgaa %}
                {% comment %}
                  Filtres liquid pour récupérer l'intitulé du critère
                  dans les données du RGAA (/_data/rgaa_4_1_2_clean.json)
                {% endcomment %}
                {% assign criterion_data = site.data.rgaa_4_1_2_clean.criteria | where: 'num', criterion_num %}
                <li>
                  {{ criterion_num }} - {{ criterion_data[0]['name'] }}
                </li>
              {% endfor %}
            </ul>
          {% else %}
            {% for criterion_num in impact_item.criteria.rgaa %}
              {% comment %}
                Filtres liquid pour récupérer l'intitulé du critère
                dans les données du RGAA (/_data/rgaa_4_1_2_clean.json)
              {% endcomment %}
              {% assign criterion_data = site.data.rgaa_4_1_2_clean.criteria | where: 'num', criterion_num %}
              <span>{{ criterion_num }} - {{ criterion_data[0]['name'] }}</span>
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}

      {% comment %} Si plusieurs impacts, on les structure en liste {% endcomment %}
      {% if forloop.length > 1 %}
        </li>
        {% if forloop.last %}</ul>{% endif %}
      {% endif %}
    {% endfor %}
    {% comment %} Fin boucle sur les critères liés à chaque impact {% endcomment %}
    <span class="goback-summary">
      <a href="#main">
        Sommaire
        <span class="icon icon-chevrons-left-bold" aria-hidden="true"></span>
      </a>
    </span>
  {% endfor %}
  {% comment %} Fin boucle sur les impacts users filtrés {% endcomment %}
{% endfor %}
{% comment %} Fin boucle sur les thématiques RGAA {% endcomment %}
