---
layout: default
title: Test
---

<!-- Boucle sur toutes les thématiques du RGAA pour créer les titres de niveau 2 -->
{% for topic in site.data.rgaa_4_1_2_clean.topics %}
<h2>#{{ topic.num }} - {{ topic.name }}</h2>

<!--
  TODO:
  Pour chaque thématique du RGA, filtrer les impacts users pour les structurer par titre.
  {% assign filtered_impacts = site.data.impact_users.impacts | where: topics.rgaa, topic.num  %}
-->

<ul class="unstyled">
  <!-- On récupère les données présentes dans le fichier /_data/impact_users.json -->
  {% for impact in site.data.impact_users.impacts %}
    <li>
      <article>
        <h3>Critères {{ impact.criteria.rgaa | join: ', ' }} - {{ impact.name }}</h3>

        <!-- Critères associés récupérés depuis le JSON du RGAA clean -->
        <div class="chapo">
          <ul>
            <!-- Pour chaque critère associé à l'impact user -->
            {% for criterion_num in impact.criteria.rgaa %}
              <!-- On utilise des filtres liquid pour récupérer les données du critère
               dans les données du RGAA (/_data/rgaa_4_1_2_clean.json) -->
              {% assign criterion_data = site.data.rgaa_4_1_2_clean.criteria | where: 'num', criterion_num %}
              <li>{{ criterion_num }} - {{ criterion_data[0]['name'] }}</li>
            {% endfor %}
          </ul>
        </div>

        <h3>Description</h3>
        {{ impact.description.html_default }}

        <h3>Description FALC</h3>
        {{ impact.description.html_falc }}
      </article>
    </li>
  {% endfor %}
</ul>
{% endfor %}