---
layout: default
title: Test
---

<h2 id="summary-impact">Sommaire</h2>

<!-- Sommaire  -->
<nav role="navigation" aria-labelledby="summary-impact">
  <ul>
    <!-- Boucle sur toutes les thématiques du RGAA pour créer les liens de niveau 1-->
    {% for rgaa_topic in site.data.rgaa_4_1_2_clean.topics %}
      <li>
        <a href="#{{ rgaa_topic.name | slugify }}">{{ rgaa_topic.num }} - {{ rgaa_topic.name }}</a>

        <!-- Filtre des impacts liés à la thématique en cours (fichier /_data/impact_users.json) -->
        {% assign topic_impacts = site.data.impact_users.impacts | where_exp: "item", "item.topics.rgaa contains rgaa_topic.num" %}

        <!-- Si impacts pour cette thématique on construit une liste -->
        {% if topic_impacts.size > 0 %}
          <ul class="unstyled">
            <!-- Boucle sur tous les impacts users filtrés pour créer les liens de niveau 2 -->
            {% for impact in topic_impacts %}
              <li>
                <a href="#{{ impact.name | slugify }}">
                  Critère{% if impact.criteria.rgaa.size > 1 %}s{% endif %}
                  {{ impact.criteria.rgaa | join: ', ' }} - {{ impact.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
<!-- Fin Sommaire  -->

<!-- Boucle sur toutes les thématiques du RGAA pour créer les titres de niveau 2 -->
{% for rgaa_topic in site.data.rgaa_4_1_2_clean.topics %}
  <h2 id="{{ rgaa_topic.name | slugify }}">
    {{ rgaa_topic.num }} - {{ rgaa_topic.name }}
  </h2>

  <!-- Filtre des impacts liés à la thématique en cours (fichier /_data/impact_users.json) -->
  {% assign topic_impacts = site.data.impact_users.impacts | where_exp: "item", "item.topics.rgaa contains rgaa_topic.num" %}

  <!-- Si impacts pour cette thématique on construit une liste -->
  {% if topic_impacts.size > 0 %}
    <ul class="unstyled">
      <!-- Boucle sur tous les impacts users filtrés -->
      {% for impact in topic_impacts %}
        <li>
          <article>
            <h3 id="{{ impact.name | slugify}}">
              Critère{% if impact.criteria.rgaa.size > 1 %}s{% endif %}
              {{ impact.criteria.rgaa | join: ', ' }} - {{ impact.name }}
            </h3>

            <!-- Critères associés récupérés depuis le JSON du RGAA clean -->
            {% if impact.criteria.rgaa.size > 0 %}
              <div class="chapo">
                <h4>Critères RGAA associés</h4>
                <ul>
                  <!-- Pour chaque critère associé à l'impact user -->
                  {% for criterion_num in impact.criteria.rgaa %}
                    <!--
                      Filtres liquid pour récupérer l'intitulé du critère
                      dans les données du RGAA (/_data/rgaa_4_1_2_clean.json)
                    -->
                    {% assign criterion_data = site.data.rgaa_4_1_2_clean.criteria | where: 'num', criterion_num %}
                    <li>
                      {{ criterion_num }} - {{ criterion_data[0]['name'] }}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}

            {% if impact.description.default.size > 0 %}
              <h4>Description</h4>
              {{ impact.description.default | markdownify }}
            {% endif %}

            {% if impact.description.falc.size > 0 %}
              <h4>Description FALC</h4>
              {{ impact.description.falc | markdownify }}
            {% endif %}
          </article>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %}