<footer class="ice-footer" role="contentinfo">
  <div class="ice-container with-gutters no-md-gutters ice-footer-inner">
    <div class="ice-footer-logo">
      <img src="{{- site.baseurl -}}/assets/images/logo_ideance.svg" alt="Ideance" height="62" width="60">
    </div>
    <div class="ice-footer-infos">
      <p>
        <b>Expertise, formations et audits accessibilité numérique.</b><br>
        <b>Sensibilisation et aménagement pour le handicap en entreprise.</b>
      </p>
      <p>SAS au capital de 4000 €, immatriculée au <abbr title="Registre du Commerce et des Sociétés">RCS</abbr> de Rouen sous le numéro 888 808 383. Organisme de formation enregistré sous le numéro 28 76 06172 76.</p>
      <ul class="ice-menu">
        <li><a href="mailto:contact@ideance.fr">contact@ideance.fr</a></li>
        <li><a href="tel:+33278775982">+33 (0)2 78 77 59 82</a></li>
      </ul>
    </div>
    <div class="ice-footer-links">
      <ul aria-label="Réseaux sociaux" class="ice-social-links">
        <li class="no-margin">
          <a class="ice-social-link" href="https://www.linkedin.com/company/ideance/">
            <img src="{{- site.baseurl -}}/assets/images/linkedin.svg" alt="LinkedIn" />
          </a>
        </li>
        <li>
          <a class="ice-social-link" href="https://www.youtube.com/channel/UCx2yDE6oVrncbS0isnjMBPw">
            <img src="{{- site.baseurl -}}/assets/images/youtube.svg" alt="YouTube" />
          </a>
        </li>
        <li>
          <a class="ice-social-link" href="https://www.instagram.com/ideance.a11y/">
            <img src="{{- site.baseurl -}}/assets/images/instagram.svg" alt="Instagram" />
          </a>
        </li>
        <li>
          <a class="ice-social-link" href="https://www.tiktok.com/@ideance.net">
            <img src="{{- site.baseurl -}}/assets/images/tiktok.svg" alt="TikTok" />
          </a>
        </li>
      </ul>
      <ul class="ice-menu">
        <li><a href="https://ideance.net/">Le site d’Ideance</a></li>
        <li><a href="https://ideance.net/blog/">Le Blog d'Ideance</a></li>
        <li><a href="https://ideance.net/fr/ressources-accessibilite-numerique/">Ressources d’accessibilité</a></li>
        <li><a href="https://ideance.net/fr/glossaire-accessibilite/">Lexically (glossaire)</a></li>
        <li><a href="https://ideance-a11y.github.io/rgaa4-impacts-utilisateurs/a-propos.html#mentions-legales">Mentions légales</a></li>
        <li><a href="https://ideance-a11y.github.io/rgaa4-impacts-utilisateurs/a-propos.html#accessibilite">Accessibilité – Site conforme au RGAA</a></li>
      </ul>
    </div>
  </div>
</footer>
