<footer class="ice-footer" role="contentinfo">
  <div class="ice-container with-gutters no-md-gutters ice-footer-inner">
    <div class="ice-footer-logo">
      <img src="{{- site.baseurl -}}/assets/images/ideance-logo.png" alt="Ideance" height="62" width="60">
    </div>
    <div class="ice-footer-infos">
      <p>
        <b>Expertise, formations et audits accessibilité numérique.</b><br>
        <b>Sensibilisation et aménagement pour le handicap en entreprise.</b>
      </p>
      <p>SAS au capital de 4000 €, immatriculée au <abbr title="Registre du Commerce et des Sociétés">RCS</abbr> de Rouen sous le numéro 888 808 383. Organisme de formation enregistré sous le numéro 28 76 06172 76.</p>
      <a class="ice-link" href="mailto:contact@ideance.fr">contact@ideance.fr</a><br>
      <a class="ice-link" href="tel:+33278775982">+33 (0)2 78 77 59 82</a>
    </div>
    <div class="ice-footer-links">
      <ul aria-label="Réseaux sociaux" class="ice-social-links">
        <li class="no-margin">
          <a class="ice-social-link" href="https://www.linkedin.com/company/ideance/">
            <span class="icon icon-linkedin" aria-hidden="true"></span>
            <span class="sr-only">LinkedIn</span>
          </a>
        </li>
        <li>
          <a class="ice-social-link" href="https://www.youtube.com/channel/UCx2yDE6oVrncbS0isnjMBPw">
            <span class="icon icon-youtube" aria-hidden="true"></span>
            <span class="sr-only">YouTube</span>
          </a>
        </li>
        <li>
          <a class="ice-social-link" href="https://www.instagram.com/ideance.a11y/">
            <span class="icon icon-instagram" aria-hidden="true"></span>
            <span class="sr-only">Instagram</span>
          </a>
        </li>
        <li>
          <a class="ice-social-link" href="https://www.tiktok.com/@ideance.net">
            <span class="icon icon-tiktok" aria-hidden="true"></span>
            <span class="sr-only">TikTok</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="ice-legal" >
    <div class="ice-legal-wrapper">
      
    </div>
</div>
</footer>
