<footer class="ice-footer" role="contentinfo">
  <div class="ice-container with-gutters no-md-gutters ice-footer-inner">
    <div class="ice-footer-logo">
      <img src="{{- site.baseurl -}}/assets/images/ideance-logo.png" alt="Ideance" height="62" width="60">
    </div>
    <div class="ice-footer-infos">
      <h2 class="ice-footer-title">Accessibilité et conformité au RGAA</h2>
      <p>
        Cette ressource se veut accessible aux personnes handicapées.
        <br>Elle est donc totalement conforme au RGAA.
      </p>
      <p>
        Toutefois, si vous n’arrivez pas à accéder à un contenu ou à utiliser une fonctionnalité de cette page, vous pouvez contacter la société Ideance par :
      </p>
      <dl class="ice-contact">
        <div class="ice-contact-wrapper">
          <dt class="ice-contact-term">Email</dt>
          <dd class="ice-contact-definition">
            <a class="ice-link" href="mailto:contact@ideance.fr">contact@ideance.fr</a>
          </dd>
        </div>
        <div class="ice-contact-wrapper">
          <dt class="ice-contact-term">Téléphone</dt>
          <dd class="ice-contact-definition">
            <a class="ice-link" href="tel:+33278775982">+33 (0)2 78 77 59 82</a>
            <br>Ce numéro est disponible du lundi au vendredi, de 09h00 à 18h00.
          </dd>
        </div>
        <div class="ice-contact-wrapper">
          <dt class="ice-contact-term">Voie postale</dt>
          <dd class="ice-contact-definition">23 rue des Sources
            <br>76160 Saint-Léger-du-Bourg-Denis, France
          </dd>
        </div>
      </dl>
      <p>La société Ideance mettra tout en œuvre pour répondre à vos difficultés dans le délai le plus court possible.</p>
    </div>
    <div class="ice-footer-links">
      <ul aria-label="Réseaux sociaux" class="ice-social-links">
        <li class="no-margin">
          <a class="ice-social-link" href="https://www.linkedin.com/company/ideance/">
            <span class="icon icon-linkedin" aria-hidden="true"></span>
            <span class="sr-only">LinkedIn</span>
          </a>
        </li>
        <li>
          <a class="ice-social-link" href="https://www.youtube.com/channel/UCx2yDE6oVrncbS0isnjMBPw">
            <span class="icon icon-youtube" aria-hidden="true"></span>
            <span class="sr-only">YouTube</span>
          </a>
        </li>
        <li>
          <a class="ice-social-link" href="https://www.instagram.com/ideance.a11y/">
            <span class="icon icon-instagram" aria-hidden="true"></span>
            <span class="sr-only">Instagram</span>
          </a>
        </li>
        <li>
          <a class="ice-social-link" href="https://www.tiktok.com/@ideance.net">
            <span class="icon icon-tiktok" aria-hidden="true"></span>
            <span class="sr-only">TikTok</span>
          </a>
        </li>
      </ul>
      <div>
        <h2 class="ice-footer-title">Autres ressources d’accessibilité numérique</h2>
        <p>En complément de la présente ressource, si vous souhaitez en apprendre davantage au sujet de l’accessibilité numérique, nous vous recommandons de consulter également :</p>
        <ul class="ice-other-resource">
          <li><a href="https://ideance.net/fr/glossaire-accessibilite/">Lexically</a>, le glossaire de l’accessibilité numérique</li>
          <li>Le <a href="https://ideance.net/blog/">blog d’Ideance</a></li>
          <li>Ces nombreuses et qualitatives <a href="https://ideance.net/fr/ressources-accessibilite-numerique/">ressources d’accessibilité numérique</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="ice-legal" >
    <div class="ice-legal-wrapper">
      <p>
        Ce projet est fortement inspiré de la ressource <a href="https://disic.github.io/guide-impacts_utilisateurs/" rel="nofollow">Défauts d’accessibilité : Impacts sur les utilisateurs</a> complémentaire à la version 3 du RGAA.
        <br>Sauf mention contraire, les contenus de cette page sont mis à disposition selon les termes de la <a href="https://creativecommons.org/licenses/by/4.0/deed.fr" rel="nofollow">licence Creative Commons CC-BY 4.0</a>.
      </p>
    </div>
</div>
</footer>
