<header role="banner" class="header">
    <div class="header-top">
        <div class="header-top__inner">
            <a href="#main" class="skiplink">Explorer le contenu</a>
            <a href="https://ideance.net/fr/" class="gotoideance">
                <span class="icon icon-chevrons-left-bold" aria-hidden="true"></span>
                <span>
                    <span class="not-on-mobile">Aller sur</span>
                    ideance.net
                </span>
            </a>
        </div>
    </div>
    <div class="header-bottom">
        <div class="header-bottom__inner">
            <span class="logo">
                <img src="{{- site.baseurl -}}/assets/images/ideance-logo.png" alt="Ideance">
            </span>
            <h1 class="site-title">Impacts des défauts de conformité au RGAA<br> pour les personnes handicapées</h1>
        </div>
        <p class="infoVersion">Version 0.1 - Dernière mise à jour le 12 décembre 2024</p>
    </div>
</header>
