<header role="banner" class="header">
    <div class="header-top">
        <div class="header-top__inner">
            <a href="#main" class="skiplink">Explorer le contenu</a>
            <a href="https://ideance.net/fr/" class="gotoideance">
                <span class="icon icon-chevrons-left-bold" aria-hidden="true"></span>
                <span>
                    <span class="not-on-mobile">Aller sur</span>
                    ideance.net
                </span>
            </a>
        </div>
    </div>
    <div class="header-bottom">
        <div class="header-bottom__inner">
            <a href="{{- site.baseurl -}}/" class="site-title" rel="home" aria-label="Ideance, Impacts des défauts de conformité au RGAA pour les personnes handicapées (aller à l'accueil)">
                <span class="logo">
                    <img src="{{- site.baseurl -}}/assets/images/ideance-logo.png" alt="Ideance">
                </span>
                <span>Impacts des défauts de conformité au RGAA<br> pour les personnes handicapées</span>
            </a>
            <p class="infoVersion">Version 0.1 - Dernière mise à jour le 06 décembre 2024</p>
        </div>
    </div>
</header>
