%icon-base {
    font-family: 'fonticon' !important; /* use !important to prevent issues with browser extensions that change fonts */
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    transform: translate(0, 0);
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon {
    @extend %icon-base;
    display: inline-flex;
    font-size: 1.7rem;
    line-height: 1;
    &.is-large {
      font-size: 2.4rem;
    }
  }
  .icon-plus:before {
    content: "\e902";
  }
  .icon-minus:before {
    content: "\e903";
  }
  .icon-chevrons-left-bold:before {
    content: "\e911\e911";
    font-size: 95%;
    font-weight: normal;
    letter-spacing: -0.8rem;
  }
  .icon-chevron-left-bold:before {
    content: "\e911";
  }
  .icon-linkedin:before {
    content: "\eaca";
  }
  .icon-youtube:before {
    content: "\ea9d";
  }
  .icon-instagram::before {
    content: "\ea92";
  }
  .icon-tiktok::before {
    content: "\e900";
  }
