// Typos
$typo-1: 'Lato', sans-serif;
$fonticon: 'fonticon';

// Colors

///--- Primary/Secondary colors
$primary-color:     #0a42f7;
$primary-darker:    #9801ff;
$secondary-color:   #ffd100;
$tertiary-color:    #37738E;

///--- Basic colors
$white-color: #ffffff;
$black-color: #000000;
$red-color : #F93F4F;

///--- Grays
$gray-1: #2C3E50;
$gray-2: #3C4D5D;
$gray-3: #E8EFEF;
$gray-4: #f3f8fd;
$gray-5: #233140;
$gray-6: #848f9a;
$light-gray: #F5F7FA;

$light-blue: #bed2de;