// TYPOS

$typo-1: 'Lato', sans-serif;
$fonticon: 'fonticon';

// COLORS

///--- Primary/Secondary colors
$primary-color:     #0a42f7;
$primary-darker:    #9801ff;
$secondary-color:   #ffd100;
$tertiary-color:    #37738E;

///--- Basic colors
$white-color: #ffffff;
$black-color: #000000;
$red-color : #F93F4F;

///--- Grays
$gray-1: #2C3E50;
$gray-2: #3C4D5D;
$gray-3: #E8EFEF;
$gray-4: #f3f8fd;
$gray-5: #233140;
$gray-6: #848f9a;
$light-gray: #F5F7FA;

///--- Blues
$blue-1: #37738E;
$blue-2: #d7e3eb;
$blue-3: #e8f2f6;
$blue-4: #8ebed3;
$light-blue: #bed2de;

///--- Red
$red-1: #feeced;
$red-2: #fdb2b9;

///--- Green
$green-1: #eaf6e8;
$green-2: #7cc770;

// GRID

///--- Cols
$col-1: 8.333333%;
$col-2: 16.666667%;
$col-3: 25%;
//$col-4: 33.333333%;
$col-5: 41.666667%;
//$col-6: 50%;
//$col-7: 58.333333%;
//$col-8: 66.666667%;
//$col-9: 75%;
//$col-10: 83.333334%;
//$col-11: 91.666667%;

///--- Gutter
$gutter-hz: 2rem;
$gutter-hz-mob: 1.5rem;
