.heading-secondary {
    margin: 2rem 0 2.1rem 1.7rem;
    padding-bottom: 1.8rem;
    border-bottom: 0.1rem solid $blue-2;
    line-height: 1.35;
    color: $blue-1;
    font-size: 1.7rem;
    font-weight: 900;
    text-transform: uppercase;
}

main {
    line-height: 1.6;

    h2 {
        margin: 7.2rem 0 3.6rem;
        color: $gray-1;
        font-size: 2.4rem;
        line-height: 1.3;
        font-weight: bold;
        @include for-tablet {
            font-size: 3.7rem;
        }
    }

    h3 {
        margin: 4.2rem 0 1.5rem;
        color: $tertiary-color;
        font-size: 2.2rem;
        font-weight: bold;
        line-height: 1.35;
        @include for-tablet {
            font-size: 3rem;
        }
    }

    hr {
        border: 0;
        height: 0.1rem;
        background-color: $gray-1;
    }
    
    > *:first-child {
        margin-top: inherit;
    }

    .thematic > h2:first-child {
        margin-top: inherit;
    }
    
    .rule {
        margin: 7rem 0;
    }

    .thematic > h2 + .rule {
        margin-top: 0;
    }

}

.chapo {
    margin: 2rem 0 3rem;
    padding: .1rem 2rem 2.4rem;
    background: #fbfbfb;
    border-left: 1rem solid #e8efef;

    p {
        margin-bottom: 1.2rem;
    }

    ul {
        margin: 1.2rem 0 0;
        padding-left: 2rem;
    }

    [id^='criteria-'] {
        font-weight: bold;
    }
}

.main-content  {
    .goback-summary {
        margin-bottom: 5rem;
        display: flex;
        justify-content: flex-end;

        .icon {
            margin-left: 0.5rem;
            font-size: 1.5rem;
            color: $red-color;
            &::before {
                transform: rotate(90deg);
                margin-top: -0.7rem;
            }
        }
    }
}