.heading-secondary {
    margin: 2rem 0 2.1rem 1.7rem;
    padding-bottom: 1.8rem;
    border-bottom: 0.1rem solid $blue-2;
    line-height: 1.35;
    color: $blue-1;
    font-size: 1.7rem;
    font-weight: 900;
    text-transform: uppercase;
}

main {
    h2 {
        margin: 7.2rem 0 3.6rem;
        color: $gray-1;
        font-size: 2.4rem;
        line-height: 1.3;
        font-weight: bold;
        @include for-tablet {
            font-size: 3.7rem;
        }
    }

    h3 {
        margin: 5.4rem 0 1.5rem;
        padding-bottom: 1.5rem;
        color: $tertiary-color;
        font-size: 2rem;
        font-weight: bold;
        line-height: 1.35;
        border-bottom: 1px dashed #ffd100;
        @include for-tablet {
            font-size: 2.4rem;
        }
    }

    h2 + h3 {
        margin-top: 3.6rem;
    }

    hr {
        border: 0;
        height: 0.1rem;
        background-color: $gray-1;
    }
}

.chapo {
    margin: 2rem 0 3rem;
    padding: .1rem 2rem 2.4rem;
    background: #fbfbfb;
    border-left: 1rem solid #e8efef;

    p {
        margin-bottom: 1.2rem;
    }

    ul {
        margin: 1.2rem 0 0;
        padding-left: 2rem;
    }

    [id^='criteria-'] {
        font-weight: bold;
    }
}
