.about {
    position: relative;
    margin: 0 0 5rem 1.7rem;
    padding: 1rem 2rem 0 0;
    
    
    a {
        background-color: $white-color;
        border: 0.2rem solid $blue-2;
        display: block;
        padding: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        box-shadow: -0.5rem 0.5rem 0 0 $secondary-color;
    }
    
    &__svg {
        width: 4.2rem;
        height: 4.2rem;
        position: absolute;
        top: 0rem;
        right: 4rem;
        transform: rotate(10deg);
    }
}

.nav-primary {
    > *:first-child {
        margin-top: 1.5rem;
    }
}

.menu-primary {
    padding-left: 1.5rem;
    list-style: none;
    margin-bottom: 5rem;
    li {
        margin-bottom: 0.8rem;
    }
    a {
        color: $gray-1;
        text-decoration: underline;
        text-underline-offset: 0.3rem;
        text-decoration-thickness: 0.1rem;
        text-decoration-color: transparent;
        transition: text-decoration-color 250ms ease-out;
        &:hover {
            text-decoration-color: $primary-darker;
        }
    }
    @include for-tablet {
        margin-bottom: 0;
    }
}