<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "fr" }}">
{%- include head.html -%}
<body>
    {%- include header.html -%}
    <main role="main" id="main" class="main">
        {% if page.menu == "falc" %}
        {%- include menu-falc.html -%}
        {% elsif page.menu == "default" %}
        {%- include menu-default.html -%}
        {% elsif page.menu == "rubriques" %}
        {%- include menu-rubriques-rgaa.html -%}
        {% endif %}
        <div id="main-content" class="main-content">
        {{ content }}
        </div>
    </main>
    {%- include footer.html -%}
    {% include js.html %}
</body>
</html>
