.with-gutters {
  padding-left: $gutter-hz-mob;
  padding-right: $gutter-hz-mob;

	@include for-desktop {
    padding-left: $gutter-hz;
    padding-right: $gutter-hz;
  }

  &.no-md-gutters {
    @include for-tablet {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.ice-footer {
  min-height: 9rem;
  padding-top: 3.5rem;
  padding-bottom: 4.5rem;
  background: $white-color;
  border-top: 2rem solid rgba(68, 125, 159, 0.25);
  color: $gray-1;
	line-height: 1.5;
  font-size: 1.5rem;

  @include for-tablet {
    padding-top: 4.5rem;
    padding-bottom: 6.5rem;
  }
  @include for-desktop {
    font-size: 1.7rem;
  }
}

.ice-footer-inner {
  @include for-tablet {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .ice-link {
		color:$gray-1;
		text-decoration: underline;
		text-underline-offset: 0.3rem;
		text-decoration-thickness: 0.1rem;
		text-decoration-color:currentColor;
		transition:text-decoration-color 250ms ease-out;
	}
	.ice-link:hover,
	.ice-link:focus {
		text-decoration-color: transparent
	}
}

.ice-footer-logo {
  display: none;

  @include for-tablet {
    display: inline-flex;
    flex: 0 0 $col-2;
    padding-left: $gutter-hz;
    padding-right: $gutter-hz;

    img {
      max-width: 100%;
      width: 6rem;
      height: auto;
    }
  }

  @include for-desktop {
    flex-basis: $col-1;
    margin-left: $col-1;
  }
}

.ice-footer-infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  @include for-tablet {
    flex: 0 0 $col-5;
  }

  @include for-desktop {
    padding-left: $gutter-hz;
    padding-right: $gutter-hz;
  }

  p {
    margin-top: 0;
    margin-bottom: 1.6rem;
  }

  p:first-of-type {
    margin-bottom: 0;
  }

  a {
    display: inline-flex;
    line-height: 1.25;
    margin-bottom: 0.7rem;
  }
}

.ice-footer-links {
  margin-top: 0.2rem;

  @include for-tablet {
    flex: 0 0 $col-3;
	  margin-left: $col-1;
    margin-right: $col-1;
		margin-top: 0;
  }

  @include for-desktop {
    padding-left: $gutter-hz;
    margin-top: 0;
  }

  .ice-social-links {
    margin-bottom: 1.9rem;

    .ice-social-link {
      width: 4rem;
      height: 4rem;
      margin: 0 1rem 0 0;

      .icon::before {
        font-size: 2rem;
      }
    }
  }

  a[aria-current="page"] {
    font-weight: bold;
  }
}

.menu-pied-de-page {
  list-style: none;
  padding: 0;
  a {
    text-decoration-color: currentColor;
    &:hover, &:focus-visible {
      text-decoration-color: transparent;
  }
  }
}
