// Layout
.main {
    max-width: 120rem;
    margin: 0 1rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    @include for-tablet {
        margin: 0 auto;
        padding-right: 1rem;
        gap: 5%;
        flex-direction: row;
    }
}
.main-nav {
    @include for-tablet {
        flex-basis: 25%;
        height: 100vh;
        min-height: 200px;
        overflow: auto;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
}
.main-content {
    @include for-tablet {
        flex-basis: 70%;
    }
}

